 
body{

    margin: 0;
    paddin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #d5dae5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: gr
}

form
{
    text-align: justify;
}
h1{
text-align: center;
text-transform: capitalize;
color: #fff 
} 
h2 {
	text-align: center;
    color: #50BFA4;
}
 
* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */


/* Clear floats after the columns */ 
.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.row:after {
    content: "";
    display: table;
    clear: both;
} 
.heading
{
    padding-left: 20px; 
    text-align: left;
} 
.items
{

   padding-left: 20px; 
    text-align: left; 
    color: #fff
}

.submit{
    width:100px;
    margin:0 50%;
    position:relative;
    left:-50px;
}


